*{
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: auto;
}

.info {
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.container {
    width: 100vw;
    height: 90vh;
    background-color: #FDF8E6;
    padding: 24px;
}

.card-container {
    display: flex;
    flex-flow: row wrap;
    gap: 18px;
    width: 50%;
    margin: 16px auto;
}

.card {
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden-card {
    height: 100%;
    width: 100%;
    background-color: orange;
    position:absolute;
    z-index: 10;
}

.stat {
    display:flex;
    flex-wrap:nowrap;
    justify-content: center;
    width: 250px;
    margin: auto;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
}
@media only screen and (max-width: 430px) and (max-height: 900px) {
    .container {
        padding: 90%px; 
        height: 80vh; 
    }

    .card-container {
        width: 90%; 
        margin: 10px auto;
        gap: 8px; 
    }

    .card {
        width: 5%px; 
        height:5%px;
    }

    .stat {
        width: 200px;
        font-size: 18px;
    }
}

